/* Common Css Start */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: "Inter", sans-serif;
}

ul,ol,li{
    list-style: none;
}

img{
    vertical-align: middle;
}
a,span{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,span,a,div,section,img,svg{
    margin: 0;
    padding: 0;
}

.container{
    width: 1170px;
    margin:auto;
}


/* Common Css End */

/* navbar css Start */

.navWrapper{
    padding: 33px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navItemWrapper{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    
}

.navLink{
    font-size: 18px;
    color: #181818;
    font-weight: 500;
    transition: all linear .5s;
}
.navLink:hover{
    color: #5956E8;
}
.contactUsBtn{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 13px 23px;
    border: none;
    border-radius: 10px;
    background: #5956E8;
    color: #FFFFFF;
}

/* navbar css End */

/* banner css Start  */
.banner{
    background: #5956E8;
    padding: 182px 0px;
}
.bannerLeft__Title{
    font-size: 65px;
    font: 700;
    line-height: 80px;
    color: #FFFEFE;
   
}
.bannerLeft__summary{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #FFFFFF;
   
}
.bannerWrapper{
    display:flex ;
    align-items: center;
    justify-content: space-between;
}
.bannerWrapperLeft{
    max-width: 542px;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.getStartBtn{
    max-width: 144px;
    font-size: 18px;
    font-weight: 500;
    color: #5956E8;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 22px;
    border: none;
    transition: all linear 0.5s;
    cursor: pointer;
}
.getStartBtn:hover{
    background: yellow;
    color: red;

}
/* banner css End  *

/* ourService css Start  */
    .ourService{
        margin: 100px 0px;
    }
    .ourServiceTop{
        max-width: 542px;
        margin: auto;
        text-align: center;
    }
    .ourServiceTop__title{
        font-size: 40px;
        font-weight: 700;
        color: #181818;
    }
    .ourServiceTop__summary{
        font-size: 16px;
        color: #181818;
        opacity: .7;
        line-height: 27px;
        padding:20px 0px 50px 0px;
    }
    /* .ourServiceWrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } */
   .serviceCardWrapperTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
   }
   .serviceCardWrapperBottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
    .serviceCard{
        max-width: 370px;
        padding: 63px 48px;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        row-gap: 25px;
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    .serviceCard:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .serviceCard__icon{
        padding: 17px;
        background: #5956E8;
        border-radius: 10px;
    }
    .serviceCard__title{
        font-size: 25px;
        font-weight: 700;
        color: #181818;
    }
    .serviceCard__summary{
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
        color: #181818;
        opacity: .7;
    }
    



/* ourService css End  */

/* our work portfolio css Start  */
    .workCardWrapperTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .workCardWrapperBottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .workCard{
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    .workCard:hover .overlay{
        left: 20px;
    }
 
    .overlay{
        position: absolute;
        
        left: -250px;
        bottom: 20px;
        max-width: 230px;
        padding: 25px 40px;
        background: #5956E8;
        border-radius: 10px;
        text-align: center;
        transition: all linear .6s;
    }
    .overlay__title{
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
        padding-bottom: 10px;
    }
    .overlay__button{
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        border: none;
        background: none;
    }
/* our work portfolio css End  */

/* footer css start  */
                                                  
.footer{
    text-align: center;
    padding: 50px 0;
}
/* footer css End  */